#admin
  .articles
    %h1 Uploads
    %table
      %thead
        %tr
          %th Thumbnail
          %th URL
          %th
      %tbody
        - @files.each do |file|
          %tr
            - if file.format.match(/(?:jpeg|jpg|png|gif)/)
              %td= image_tag url_for(file), :width => 50
            - else
              %td < file >
            %td= url_for file
            %td= link_to "Delete", admin_attachment_path(file), :method => :delete, :class => 'btn btn-danger', :confirm => "You sure?"
  .right= render :partial => 'admin/sidebar'