= form_for :article, :url => search_articles_path, :html => {:class => 'form-horizontal article-search', :method => :get} do |f|
  .input-append
    %input{:name => :q, :type => :text, :placeholder => 'Search', :value => params[:q]}>
    %button.btn 
      %span Search

.se_flair
  = link_to "JD Isaacks' Stack Exchange Profile", "http://stackexchange.com/users/19588"

.project-euler
  .project-euler-image

.recent
  %div Recent
  %ul
    - Article.recent.each do |a|
      %li= link_to a.title, article_path(a)
  