.articles
  - @articles.each do |a|
    = render :partial => 'article', :locals => {article: a}

  .pages
    = will_paginate @articles, :inner_window => 2, :outer_window => 0

.sidebar
  = render :partial => 'sidebar'