.articles
  .search_results
    %h1 Search Results
    - if @articles.present?
      %ul
        - @articles.each do |a|
          %li
            %h4= link_to a.title, article_path(a)
            %small
              = a.comment_count
              comments
    - else
      %div No articles matched your search.

.sidebar
  = render :partial => 'sidebar'