.articles
  %h1 Search
  - if @articles.present?
    - @articles.each do |a|
      %div= link_to a.title, article_path(a)
  - else
    %div No articles matched your search.

.sidebar
  = render :partial => 'sidebar'