<a href="http://stackexchange.com/users/19588">
<img src="http://stackexchange.com/users/flair/19588.png" width="208" height="58" alt="profile for John Isaacks on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for John Isaacks on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>