!!!
%html
  %body
    %h3 New comment on jisaacks.com
    %table
      %tr
        %td
          %strong Name
        %td= @comment.name
      %tr
        %td
          %strong Website
        %td= @comment.website
      %tr
        %td
          %strong Article
        %td= @comment.article.title
      %tr
        %td
          %strong Comment
        %td= @comment.comment