@import "compass_twitter_bootstrap";

$orange: #ffb657;
$lite-gray: #bbb;
$lite-grain: #fbe9d2;

p {
  font-family: inherit;
  font-size: inherit;
}

.width {
  width: 950px;
  margin: auto;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}
.icon-white {
  background-image: url("glyphicons-halflings-white.png");
}

.btn {
  input[type="submit"] {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    vertical-align: baseline;
  }
}

.notice {
  background: $orange;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid white;
  color: #C60;
  text-shadow: 1px 1px 1px #FC9;
}