@import "compass_twitter_bootstrap";

$orange: #ffb657;
$red: #D14;
$lite-gray: #bbb;
$lite-grain: #fbe9d2;

p {
  font-family: inherit;
  font-size: inherit;
}

.width {
  width: 950px;
  margin: auto;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}
.icon-white {
  background-image: url("glyphicons-halflings-white.png");
}

.btn {
  input[type="submit"] {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    vertical-align: baseline;
  }
}

#flash {
  .notice, .alert {
    background: $orange;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 1px #c96;
    margin: 0;
  }
  .alert {
    background: $red;
    text-shadow: 1px 1px 1px #c99 !important;
  }
}