// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

.articles {
  width: 698px;
  padding: 20px;
  padding-left: 0;
  border-right: 1px solid $lite-grain;
  float: left;
  .article {
    margin-bottom: 50px;
    .date {
      float: left;
      margin: 10px;
      margin-bottom: 0;
      .day {
        color: $orange;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 2px;
      }
      color: $lite-gray;
      font-size: 12px;
    }
    h1 {
      line-height: 50px;
      margin-bottom: 10px;
      a {
        color: black;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
    .article-content {
      font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
      font-size: 15px;
      line-height: 22px;
      code {
        &.inline {
          font-family: Courier, monospace;
          background: #F7F7F9 !important;
          border: 1px solid #f0f0f0 !important;
          color: #D14 !important;
        }
        &.common {
          background: none;
          border: none;
          color: #000;
        }
      }
      blockquote {
        background: #F7F7F9 !important;
        color: #555;
        border: 1px solid #f0f0f0 !important;
        margin: 20px;
        position: relative;
        &:before {
          content: '“';
          font-size: 72px;
          position: absolute;
          top: 20px;
          left: -15px;
        }
        &:after {
          content: '”';
          font-size: 72px;
          position: absolute;
          bottom: -15px;
          right: -15px;
        }
      }
      pre {
        border: none;
      }
      ol.steps {
        color: $orange;
        font-style: italic;
        margin: 15px;
        padding-left: 15px;
        li p {
          color: #333;
          font-style: normal;
        }
      }
    }
  }
}
.sidebar {
  width: 208px;
  padding: 20px;
  padding-right: 0;
  float: right;
}
