@import "base";

.phone {
  display: none;
}

.comments {
  h3 {
    margin: 20px 0 10px;
  }
  .comment {
    background: #fcfcfc;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    .icon {
      padding: 3px;
      margin: 10px;
      margin-left: 0;
      background: #f0f0f0;
      border-radius: 3px;
      float: left;
    }
    .name {
      font-weight: bold;
      padding: 10px;
      padding-top: 15px;
      font-size: 16px;
      line-height: 12px;
    }
    .time {
      color: #999;
      line-height: 8px;
    }
    pre.text {
      clear: both;
      padding: 5px;
      background: none;
      border: none;
      word-break: normal;
    }
    .comment {
      margin-left: 40px;
      position: relative;
      &:before {
        content: '↑';
        font-size: 36px;
        position: absolute;
        left: -30px;
        top: 20px;
        color: $orange;
      }
    }
  }

  form#new_comment {
    textarea {
      width: 650px;
    }
  }
}