:css
  /* line 8, ../../app/assets/stylesheets/_base.css.scss */
  p {
    font-family: inherit;
    font-size: inherit;
  }

  /* line 13, ../../app/assets/stylesheets/_base.css.scss */
  .width {
    width: 950px;
    margin: auto;
  }

  /* line 19, ../../app/assets/stylesheets/_base.css.scss */
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: url("glyphicons-halflings.png");
  }

  /* line 22, ../../app/assets/stylesheets/_base.css.scss */
  .icon-white {
    background-image: url("glyphicons-halflings-white.png");
  }

  /* line 27, ../../app/assets/stylesheets/_base.css.scss */
  .btn input[type="submit"] {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    vertical-align: baseline;
  }

  /* line 41, ../../app/assets/stylesheets/_base.css.scss */
  #flash .notice, #flash .alert {
    background: #ffb657;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 1px #c96;
    margin: 0;
  }
  /* line 53, ../../app/assets/stylesheets/_base.css.scss */
  #flash .alert {
    background: #dd1144;
    text-shadow: 1px 1px 1px #c99 !important;
  }

  /* line 3, ../../app/assets/stylesheets/resume.css.scss */
  .info {
    background: -webkit-linear-gradient(left, white 50%, #cccccc 100%);
    background: #eee;
    color: #999;
    text-shadow: 1px 1px 1px #fff;
    border: 1px dotted #ccc;
    border-top: none;
    padding: 4px;
    overflow: hidden;
    text-align: right;
    border-radius: 0 0 4px 4px;
  }
  /* line 14, ../../app/assets/stylesheets/resume.css.scss */
  .info .status {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
  }
  /* line 19, ../../app/assets/stylesheets/resume.css.scss */
  .info button {
    float: right;
  }

  /* line 24, ../../app/assets/stylesheets/resume.css.scss */
  .title {
    float: left;
  }
  /* line 26, ../../app/assets/stylesheets/resume.css.scss */
  .title img {
    border: 10px solid #f5f5f5;
    margin: 10px 0;
  }
  /* line 30, ../../app/assets/stylesheets/resume.css.scss */
  .title .location {
    color: #b4b4b4;
  }

  /* line 35, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section {
    float: left;
    width: 450px;
    margin: 20px 50px;
  }
  /* line 39, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section .brace-label {
    font-size: 48px;
    margin: 65px 10px;
    float: left;
    color: #b4b4b4;
  }
  /* line 45, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section .brace {
    font-size: 100px;
    float: left;
    padding: 60px 0;
  }
  /* line 50, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section ul.skills {
    float: left;
  }
  /* line 52, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section ul.skills li.skillset {
    width: 220px;
    position: relative;
    clear: both;
    list-style: none;
  }
  /* line 57, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section ul.skills li.skillset .dots {
    position: absolute;
    width: 100%;
    top: 13px;
    border-bottom: 2px dotted #bbb;
  }
  /* line 63, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section ul.skills li.skillset .skill {
    position: absolute;
    left: 0;
    background: white;
    padding: 2px;
    font-weight: bold;
    color: #456;
  }
  /* line 71, ../../app/assets/stylesheets/resume.css.scss */
  .skill-section ul.skills li.skillset .years {
    position: absolute;
    right: 0;
    background: white;
    padding: 2px;
    color: #dd1144;
  }

  /* line 82, ../../app/assets/stylesheets/resume.css.scss */
  .objective {
    float: left;
    margin: 60px 0;
    position: relative;
  }
  /* line 86, ../../app/assets/stylesheets/resume.css.scss */
  .objective:before {
    content: '“';
    font-size: 128px;
    position: absolute;
    top: 40px;
    left: -42px;
    color: #ddd;
  }
  /* line 94, ../../app/assets/stylesheets/resume.css.scss */
  .objective:after {
    content: '”';
    font-size: 128px;
    position: absolute;
    bottom: -25px;
    right: 0px;
    color: #ddd;
  }
  /* line 102, ../../app/assets/stylesheets/resume.css.scss */
  .objective strong {
    color: #ffb657;
    text-indent: 10px;
    display: block;
  }
  /* line 107, ../../app/assets/stylesheets/resume.css.scss */
  .objective p {
    font-size: 24px;
    position: relative;
    line-height: 20px;
    z-index: 2;
    color: #456;
    font-style: italic;
  }

  /* line 117, ../../app/assets/stylesheets/resume.css.scss */
  .employment {
    clear: both;
    padding-top: 20px;
  }
  /* line 120, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job {
    float: left;
    width: 290px;
    padding: 10px;
    margin: 3px;
    border-radius: 6px;
    height: 300px;
    background: #f9f9f9;
  }
  /* line 127, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job:nth-child(3) {
    background: #f9f9f9;
  }
  /* line 131, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .position {
    margin-top: 10px;
    color: #dd1144;
    font-size: 18px;
  }
  /* line 135, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .position .secondary {
    font-size: 14px;
    color: #ccc;
  }
  /* line 140, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .company {
    color: #456;
    float: left;
    font-size: 14px;
    font-style: italic;
  }
  /* line 146, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .timeframe {
    float: right;
    color: #ffb657;
  }
  /* line 150, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .roles {
    clear: both;
    padding-top: 10px;
    font-size: 12px;
  }
  /* line 154, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .roles li {
    margin-bottom: 10px;
  }
  /* line 156, ../../app/assets/stylesheets/resume.css.scss */
  .employment .job .roles li:last-child {
    margin-bottom: 0;
  }

  /* line 164, ../../app/assets/stylesheets/resume.css.scss */
  .education {
    clear: both;
    padding-top: 20px;
    margin-bottom: 120px;
  }
  /* line 168, ../../app/assets/stylesheets/resume.css.scss */
  .education .school {
    width: 410px;
    padding: 10px 32px;
    float: left;
  }
  /* line 172, ../../app/assets/stylesheets/resume.css.scss */
  .education .school:last-child {
    border-left: 1px dotted #fbe9d2;
  }
  /* line 175, ../../app/assets/stylesheets/resume.css.scss */
  .education .school .school-name {
    font-size: 18px;
    color: #456;
  }
  /* line 179, ../../app/assets/stylesheets/resume.css.scss */
  .education .school .location {
    float: left;
    font-size: 14px;
    font-style: italic;
  }
  /* line 184, ../../app/assets/stylesheets/resume.css.scss */
  .education .school .timeframe {
    float: right;
    color: #ffb657;
  }
  /* line 188, ../../app/assets/stylesheets/resume.css.scss */
  .education .school .study {
    clear: both;
    padding-top: 10px;
    font-size: 16px;
    color: #dd1144;
  }
  /* line 193, ../../app/assets/stylesheets/resume.css.scss */
  .education .school .study:before {
    content: 'Course of study: ';
    font-size: 12px;
    color: #ccc;
    margin-right: 10px;
  }