
.title
  %img{:src => 'http://www.gravatar.com/avatar/96a4db75c09753b7d40e23e90a7ca784?s=125'}
  %h2 J.D. Isaacks
  .location Atlanta GA


.skill-section
  .brace-label Skills
  .brace {
  %ul.skills
    %li.skillset
      .dots
      .skill Ruby / Rails
      .years 1 Year
    %br
    %li.skillset
      .dots
      .skill PHP / CakePHP
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill MySQL
      .years 5 Years
    %br
    %li.skillset
      .dots
      .skill JavaScript / jQuery
      .years 4 Years
    %br
    %li.skillset
      .dots
      .skill ActionScript / Flex
      .years 7 Years
    %br
    %li.skillset
      .dots
      .skill Git / Mercurial
      .years 2 Years
    %br
    %li.skillset
      .dots
      .skill CSS / SASS / LESS
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill HTML / HAML
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill Photoshop / Illustrator
      .years 10 Years
    %br

%h3{:style => 'clear: both; padding-top: 20px;'} Employment History
