.info
  .status This Resumé Was Last Updated July 26, 2012
  %button.btn.btn-warning Download

.title
  %img{:src => 'http://www.gravatar.com/avatar/96a4db75c09753b7d40e23e90a7ca784?s=125'}
  %h2 J.D. Isaacks
  .location Atlanta GA

.skill-section
  .brace-label Skills
  .brace {
  %ul.skills
    %li.skillset
      .dots
      .skill Ruby / Rails
      .years 1 Year
    %br
    %li.skillset
      .dots
      .skill PHP / CakePHP
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill MySQL
      .years 5 Years
    %br
    %li.skillset
      .dots
      .skill JavaScript / jQuery
      .years 4 Years
    %br
    %li.skillset
      .dots
      .skill ActionScript / Flex
      .years 7 Years
    %br
    %li.skillset
      .dots
      .skill Git / Mercurial
      .years 2 Years
    %br
    %li.skillset
      .dots
      .skill CSS / SASS / LESS
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill HTML / HAML
      .years 6 Years
    %br
    %li.skillset
      .dots
      .skill Photoshop / Illustrator
      .years 10 Years
    %br

.objective
  %strong Career Goal:
  %p 
    To be smarter than
    %br
    I was yesterday

.employment
  %h3 Employment History
  .job
    .position 
      %span.primary Software Engineer
      %span.secondary & UI Developer
    .company Emcien
    .timeframe 2012 - Present
    %ul.roles
      %li Ruby on Rails development and deployment to Heroku & Amazon EC2 & S3
      %li Developed and designed rich interfaces using technologies such as backbone.js
      %li MySQL and SQLite database work.
      %li Visualization, performance tuning and quality assurance
      %li The company's top player at bumper pool
  .job
    .position 
      %span.primary Sr. Web Developer
      %span.secondary & Designer
    .company Kranich's Inc.
    .timeframe 2006 - 2012
    %ul.roles
      %li Developed, designed, and maintained e-commerce websites that received over 250K page views a month.
      %li Pioneered a platform to power dual e-commerce websites including mobile versions from a single codebase in CakePHP.
      %li Developed custom shopping cart integrated with Authorize.net, PayPal & Google Checkout
      %li As the single web developer took the company from a static no sales website to over $1,000,000 in sales a year.
  .job
    .position 
      %span.primary Information Systems Analyst
      %span.secondary (25B)
    .company U.S. Army
    .timeframe 2003 - 2006
    %ul.roles
      %li Provided technical support at the Walter Reed Army Institute of Research
      %li Worked on a small team to maintain and add new features to the WRAIR website.
      %li Worked in graphics department designing organization charts and publications.
      %li Attended leadership courses and training to develop skills to overcome intensely stressful situations.
      %li Shot stuff

.education
  %h3 Education
  .school
    .school-name The Art Institute
    .location Pittsburgh PA
    .timeframe 2006 - 2009
    .study Web Design and Interactive Multimedia
  .school
    .school-name U.S. Army Signal School
    .location Fort Gordon GA
    .timeframe 2003
    .study Information Systems
