.footer
  .left 
    .copy
      &copy;
      - if Date.today.year > 2012
        2012 -
      = Date.today.year
      JD Isaacks
    .mastehead Developed and designed by JD Isaacks using Ruby on Rails.